

<div id="setpromo">
    <div class="container">
        <div class="currentevents">
            /Displays Current promotions here/

        </div>
        <hr/>
        <div id="promotionform">
            <h3>Enter new events and promotions</h3>
            <br>
            <h5>New entries on the same day will over write the existing promo</h5>
            <br>
            <form>
                <div class="form-group col-md-8">
                    <label for="promoMonday">Monday</label>
                    <input type="promotion" class="form-control" id="promoMonday" placeholder="for Monday">
                </div>

                <div class="form-group col-md-8">
                    <label for="promoTuesday">Tuesday</label>
                    <input type="promotion" class="form-control" id="promoTuesday" placeholder="for Tuesday">
                </div>

                <div class="form-group col-md-8">
                    <label for="promoWednesday">Wednesday</label>
                    <input type="promotion" class="form-control" id="promoWednesday" placeholder="for Wednesday">
                </div>

                <div class="form-group col-md-8">
                    <label for="promoTuesday">Thursday</label>
                    <input type="promotion" class="form-control" id="promoThursday" placeholder="for Thursday">
                </div>

                <div class="form-group col-md-8">
                    <label for="promoFriday">Friday</label>
                    <input type="promotion" class="form-control" id="promoFriday" placeholder="for Friday">
                </div>

                <div class="form-group col-md-8">
                    <label for="promoSaturday">Saturday</label>
                    <input type="promotion" class="form-control" id="promoSaterday" placeholder="for Saturday">
                </div>

                <div class="form-group col-md-8">
                    <label for="promoSunday">Sunday</label>
                    <input type="promotion" class="form-control" id="promoSunday" placeholder="for Sunday">
                </div>
        
            </form>
        </div>
        
    </div>
</div>